@font-face {
    font-family: 'Recursive';
    src: url(./Fonts/Recursive/Recursive-VariableFont_CASL\,CRSV\,MONO\,slnt\,wght.ttf);
}

* {
    padding:0;
    margin:0;
    font-family: 'Recursive';
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    overflow-x:hidden;
    overflow-y: scroll;
}

#main-div {
    width:100vw;
    height: 100vh;
    background-color: rgba(16, 16, 26, 0.932);
    color: white;
}

header {
    padding: 40px 4vw;
    background-color: rgba(16, 16, 26, 0.932);
    border-bottom: .5px solid rgba(94, 92, 92, 0.185);
}

header>nav {
    font-size: 1rem;
    
}

#top-nav {
    display: flex;
    flex-direction: column;
    padding:10px 0;
}

#top-nav > ul {
    display:flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

#top-nav >li {
    list-style-type: none;
}

#top-nav a {
    text-decoration: none;
    color: white;
    background-color: transparent;
}

#top-nav >ul > li:first-child {
    flex-basis:45%;
}

#top-nav >ul > li:nth-child(2) {
    padding:0px 20px
}

#top-nav >ul > li:nth-child(3) {
    padding: 0px 20px;
}

#top-nav >ul > li:nth-child(4) {
    padding: 0 20px;
}

#main-header {
    text-align: center;
}

#big-heading {
    color:rgb(230, 133, 133);
    font-family: 'Recursive';
    font-weight: 480
}

#logo {
    width: 125px;
    height: 125px;
}

.nav-item {
    padding-right: 35px;
}

.nav-icons {
    width: 2vw;
    height: 2vh;
}

#mid-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#second-nav {
    display: flex;
    flex-direction: column;
}

#second-nav ul {
    display: flex;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: grey;
}

.nav-icons:last-of-type {
    padding-right: 15px;
}

#grid {
    padding-right: 0px;
}

.nav-link:last-of-type > span {
    background:linear-gradient(90deg,rgb(155, 154, 154), rgba(16, 16, 26, 0.932));
    background-clip: text;
    color: transparent;
}

main {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(16, 16, 26, 0.932);
}

#card-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
    flex-basis: 70%;
    background-color: rgba(16, 16, 26, 0.932);
}

.card {
    width:20vw;
    max-width: 300px;
    min-width: 220px;
    background-color: white;
    color: black;
    text-wrap: wrap;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin: 0 2vw 3vw 2vw;
    flex-basis: 30%;
}

.card-img {
    width: 18vw;
}

.img-container {
    display: flex;
    justify-content: center;
}

.card-heading {
    font-family: sans-serif;
    font-weight: 750;
    padding:10px 0;
}

.card-desc {
    font-size: 0.8rem;
    padding-bottom: 15px;
}

.card-footer {
    font-size: 0.8rem;
}

.card-footer span {
    padding-right: 10px;
}

